<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tarang.dpq2">

    <uses-permission android:name="com.wizarpos.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_NEWLAND" />
    <uses-permission android:name="android.permission.MANAGE_NEWLANDUART3" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_ANALOG_SERIAL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Q2 -->
    <uses-permission android:name="android.permission.CLOUDPOS_MSR" />
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />
    <uses-permission android:name="android.permission.CLOUDPOS_SMARTCARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_CONTACTLESS_CARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_GET_PIN_BLOCK" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_MAC" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_ENCRYPT_DATA" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATE_MASTER_KEY" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATE_USER_KEY" />
    <uses-permission android:name="android.permission.CLOUDPOS_LED" />
    <uses-permission android:name="android.permission.CLOUDPOS_SAFE_MODULE" />
    <uses-permission android:name="android.permission.CLOUDPOS_HIDE_STATUS_BAR" />
    <uses-permission android:name="android.permission.WIZARPOS_PIN_LOAD_KEY" />

    <application
        android:name=".base.AppInit"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.activities.ApnSettingActivity"></activity>
        <!-- <provider -->
        <!-- android:name="androidx.work.impl.WorkManagerInitializer" -->
        <!-- android:authorities="com.tarang.payswiff.workmanager-init" -->
        <!-- android:enabled="false" -->
        <!-- android:exported="false" /> -->
        <activity android:name=".view.activities.SwitchConnectionActivity" />
        <activity android:name=".view.activities.ChangeLanguageActivity" />
        <activity android:name=".view.activities.ValidateCardActivity" />
        <activity android:name=".view.activities.TerminalInfoActivity" />
        <activity android:name=".view.activities.GPSLocationActivity" />
        <activity android:name=".view.activities.SuccessfulActivity" />
        <activity android:name=".view.activities.ReconciliationViewActivity" />

        <receiver
            android:name=".view.broadcastreciever.AlarmReceiverForReconciliation"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".view.activities.EnterRrnDateAmountActivity" />
        <activity
            android:name=".view.activities.DisplaySubMenuData"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.activities.AdminMenuActivity" />
        <activity android:name=".view.activities.MerchantMenuActivity" />
        <activity android:name=".view.activities.TransactionHistoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".view.activities.EnterRrnActivity" />
        <activity
            android:name=".view.activities.ManualCardActivity"
            android:noHistory="true" />
        <activity
            android:name=".view.activities.PasswordActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activities.TransactionActivity"
            android:noHistory="true" />
        <activity
            android:name=".view.activities.PrintActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activities.EnterPinActivity"
            android:noHistory="true" />
        <activity
            android:name=".view.activities.EnterAmountActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.activities.SubMenuActivity" />
        <activity
            android:name=".view.activities.LandingPageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity android:name=".view.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3cdf25d1d657ef5b4dd5a14f44bfc447d765b4dd" />
    </application>

</manifest>